@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button {
		@apply px-5 py-2.5 bg-blue-600 text-white font-medium rounded-lg shadow-sm hover:bg-blue-700;
	}


	h2 {
		@apply text-2xl font-bold bg-slate-200 mb-3 py-1 px-2 border border-slate-700 rounded-lg;
	}
}

h1 {
	font-variant: small-caps;
}

button.disabled {
	opacity: 0.5;
	background-color: #777;
}

a.active {
	color: rgb(232, 232, 141);
}

.userIsOnline {
	color: green;
	background-color: yellow;
	padding: 0.5rem;
	font-weight: bold;
}

.userIsOffline {
	color: red;
}

.example {
	margin-bottom: 1rem;
}

.formIsDisabled {
	opacity: 0.5;
	pointer-events: none;
	filter: blur(1px);
	filter: grayscale(100%);
}